@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap'); /* Importando a fonte Poppins */

/* Variáveis CSS */
:root {
    --text-color: #ffffff;
    --card-front-color: #6451bb;
    --card-back-color: #000000;
}

/* Estilos Globais */
body {
    font-family: 'Poppins', sans-serif; /* Usando a fonte importada */
    background-color: #a286cf; /* Cor de fundo */
    color: #0a0a0a;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

/* Footer */
footer {
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem; /* Ajuste da altura para maior visibilidade */
}

footer p {
    text-align: center;
    font-size: 0.6rem;
    margin: 0; /* Removendo margem extra */
    padding-top: 0.5rem;
    
}

#container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Três colunas de largura igual */
        gap: 1rem; /* Espaçamento entre os cartões */
        padding: 2rem;
        max-width: 1200px;
    }

.cartao {
    background-color: rgb(28, 0, 128);
    height: 20rem;
    perspective: 1000px;
    box-sizing: border-box;
    overflow: hidden;
}

.cartao__conteudo {
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: var(--card-front-color);
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
    position: relative;
}
.cartao.flipped .cartao__conteudo {
    transform: rotateY(180deg); /* Gira o cartão ao passar o mouse */
}

/* Estilos do Título */
.cartao__conteudo h3 {
    color: var(--text-color);
    background: rgb(101, 29, 235);
    border: 1px solid var(--text-color);
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    top: 0.6rem;
    left: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1vw;
    backface-visibility: hidden; /* Esconde o verso durante a rotação */
}

/* Conteúdo da Pergunta e Resposta */
.cartao__conteudo__pergunta,
.cartao__conteudo__resposta {
    backface-visibility: hidden; /* Esconde o verso durante a rotação */
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.cartao__conteudo__pergunta p,
.cartao__conteudo__resposta p {
    padding: 2rem;
    margin-top: 4rem;
}

.cartao__conteudo__pergunta p {
    color: var(--text-color);
    font-weight: 500;
}

.cartao__conteudo__resposta {
    transform: rotateY(180deg);
}

.cartao__conteudo__resposta p {
    color: var(--card-back-color);
    font-weight: 700;
}
