@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap'); /* Importando a fonte Poppins */

/* Variáveis CSS */
:root {
    --text-color: #ffffff;
    --card-front-color: #6451bb;
    --card-back-color: #000000;
}

/* Estilos Globais */
body {
    font-family: 'Poppins', sans-serif; /* Usando a fonte importada */
    background-color: #a286cf; /* Cor de fundo */
    color: #0a0a0a;
    margin: 0;
    padding: 0;
}


.container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Três colunas de largura igual */
        gap: 1rem; /* Espaçamento entre os cartões */
        width: 100%;
        max-width: 1200px;
    }

.cartao {
    background-color: rgb(28, 0, 128);
    height: 200px;
    perspective: 1000px;
    width: calc(33.33% - 1rem);
    margin: 1rem;
}

.imagem-cartao{
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 10px;
}

.cartao__conteudo {
    text-align: center;
    height: 100%;
    background-color: var(--card-front-color);
    transform-style: preserve-3d;
    transition: transform 0.6s;
    position: relative;
}
.cartao.flipped .cartao__conteudo {
    transform: rotateY(180deg); /* Gira o cartão ao passar o mouse */
}

.cartao__conteudo__pergunta,
.cartao__conteudo__resposta {
    backface-visibility: hidden;
}

.cartao__conteudo__resposta {
    transform: rotateY(180deg);
}

.cartao__conteudo__pergunta p, .cartao__conteudo__resposta p {
    color: var(--text-color);
    font-weight: 500;
    padding: 2rem;
    margin-top: 4rem;
}

footer {
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
    text-align: center;
    font-size: 0.6rem;
    padding-top: 0.5rem;
}